<!-- Header-->
<header class="bg-dark ">
  <div class="container ">
      <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">Bienvenue à KSSV</h1>
      </div>
      <!-- <div class="item-right" routerLink="cart">
        <button class="btn btn-outline-light" type="submit">
          <i class="bi-cart-fill me-1"  routerLink="cart"></i>
          Panier
          <span class="badge bg-dark text-white ms-1 rounded-pill">{{totalItem}}</span>
        </button>
      </div> -->
  </div>
</header>
<!-- Section-->
<!-- <section class="py-5"> -->
  <section class="">
  <div class="container px-1 px-lg-4 mt-5">
      <div class="row gx-4 gx-lg-1 row-cols-1 row-cols-md-2 row-cols-xl-3 justify-content-center">

          <div class="col mb-5" *ngFor="let prod of listArticles" >
              
              <div class="card h-100" >
                  <!-- Sale badge-->
                  <div *ngIf="prod.PROMOS==1" class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Promos</div>
                  <!-- Product image-->
                  <img class="card-img-top" [src]=" prod.photo  " alt="..." style="height: 100%;"/>

                  <!-- <img class="card-img-top" src=" ./assets/images.jpeg" alt="..." /> -->
                  <!-- Product details-->
                  <div class="card-body p-4">
                      <div class="text-center">
                          <!-- Product name-->
                          <h5 class="fw-bolder"><a routerLink="view-product/{{prod.id}}">{{prod.nom}}</a></h5>
                          <!-- Product reviews-->
                          <div class="d-flex justify-content-center small text-warning mb-2">
                              <div class="bi-star-fill"></div>
                              <div class="bi-star-fill"></div>
                              <div class="bi-star-fill"></div>
                              <div class="bi-star-fill"></div>
                              <div class="bi-star-fill"></div>
                          </div>
                          <!-- Product price-->
                          <!-- <span class="text-muted text-decoration-line-through">${{prod.price}}</span> -->
                        </div>
                      </div>
                      <!-- Product actions: Vente au Détail-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent flexbox">
                      <small>{{prod.prix }} FCFA / {{prod.united}}</small>
                      <div><p>Qte {{prod.united}} : <input class="td-flex justify-content-center small text-warning mb-2" type="number" #quantiteDetail min="0" (input)="updateQteDetail(prod,quantiteDetail.value)" value={{prod.qteAVendreDetail}} placeholder="quantité en pièce..." ></p></div>
                      <!-- <div class="text-center"><a class="btn btn-outline-dark mt-auto" (click)="addToCart(prod,0)">Ajouter au Panier</a></div> -->
                    </div>

                    <!-- Product actions: Vente en Gros-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent flexbox">
                        <small>Prix {{prod.unitec}}: {{prod.prixvc}} F CFA </small>
                        <div class="d-flex justify-content-center small text-warning mb-2"><p>Qte {{prod.unitec}} : <input type="number" #quantiteGros min="0" (input)="updateQteGros(prod,quantiteGros.value)" value={{prod.qteAVendreGros}} placeholder="quantité en carton..." ></p></div>
                    </div>

                    <!-- Bouton Ajouter-->
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" (click)="addArticleToCart(prod)">Ajouter au Panier</a></div>
              </div>
          </div>

      </div>
  </div>
  <!-- oscuratore -->
<div class="dialog_scrim" *ngIf="openMenu">
</div>
<button mat-fab color="warning" (click)="clickMenu()"
    class="menu-button"
    routerLink="cart"
    >
  <i class="material-icons" >shopping_cart</i>
  <span class="badge bg-dark text-white ms-1 rounded-pill">{{totalItem}}</span>
</button>
<!-- <button mat-fab color="warning" (click)="clickMenu()"
    class="menu-button"
    [class.mat-elevation-z2]="!isOver"
    [class.mat-elevation-z8]="isOver"
    (mouseover)="isOver = true"
    (mouseleave)="isOver = false">
  <i class="material-icons" *ngIf="!openMenu">shopping_cart</i>
  <i class="material-icons" *ngIf="openMenu">close</i>
  <span class="badge bg-dark text-white ms-1 rounded-pill">{{totalItem}}</span>
</button> -->

<!-- menu button -->
<!-- <button mat-mini-fab
  class="action-button one mat-elevation-z8"
  *ngIf="openMenu"
  color="basic"

  routerLink="cart">
  <i class="material-icons">shopping_cart</i>
</button>

<button mat-raised-button
  class="label labelone mat-elevation-z8"
  *ngIf="openMenu"
  color="basic">
  Panier
</button>

<button mat-mini-fab
  class="action-button two mat-elevation-z8"
  *ngIf="openMenu"
  color="basic"
  (click)="hello('button two')">
  <i class="material-icons">home</i>
</button>
<button mat-raised-button
  class="label labeltwo mat-elevation-z8"
  *ngIf="openMenu"
  color="basic"
  (click)="hello('button two')">
  Accueil
</button> -->
</section>
