<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-white fixed-top">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" href="#!">KSSV Shop</a>
    <!-- <div id="logocentral" style="position:absolute; left: -15%;">
      <img src="https://cloud-549579568.onetsolutions.network:8081/app/web/vues/images/Logo.jpg" height="8%" width="10%">
    </div> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">

        </ul>
        <form class="d-flex">
            <!-- <button class="btn btn-outline-light" type="submit">                 -->
              <!-- <img src="https://cloud-549579568.onetsolutions.network:8081/app/web/vues/images/Logo.jpg" height="8%" width="20%">        -->
            <!-- </button> -->
        </form>
    </div>
  </div>
</nav>
