
  .text-1{
      width: 100%;
    text-align: left;
    margin: auto 0px;
  }
  .text-2{
      width: 100%;
      text-align: right;
      margin: auto 0px;
  }

#text-1{
  background-color : #000 !important;
  color: white;
}
